body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

h1, footer {
    line-height: 50px;
    background-color: #0E3B81;
    color: white;
    text-align: center;
}

.clock-time {
    max-width: 500px;
    width: 100%;
    position: relative;
    align-self: center;
}

.hours-ring {
    height: 100%;
    border-radius: 100%;
    width: 100%;
    position: absolute;
    border: 1px #7bb1c2 solid;
}

.minutes-ring {
    height: 90%;
    border-radius: 100%;
    width: 90%;
    top: 5%;
    left: 5%;
    position: absolute;
}

.seconds-ring {
    height: 80%;
    border-radius: 100%;
    width: 80%;
    top: 10%;
    left: 10%;
    position: absolute;
}

.time {
    height: 70%;
    width: 70%;
    top: 15%;
    left: 15%;
    position: absolute;
    border-radius: 100%;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.2vw;
}
